DATABASE_URL=  # PostgreSQL connection string, e.g. postgresql://...

# Storage. S3 (-compatible) is assumed.
STORAGE_BUCKET_NAME=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_ENDPOINT_URL=

# URL for PUBLIC access (view images) to the storage.
NEXT_PUBLIC_STORAGE_PUBLIC_URL=